#transactions {
  display: flex;
  flex-direction: column;
  width: 80%;
}

#transactions h1 {
  height: 2em;
  min-height: 150px;
  display: flex;
  align-items: center;
}

#transactions p {
  width: 50%;
  min-width: 300px;
  max-width: 600px;
  padding: 1em;
  border-bottom: 1px solid var(--second-color);
}
